name: planalto_automacao
description: App Planalto Automação
publish_to: "none"

environment:
  sdk: ">=3.3.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

flutter:
  uses-material-design: true
flutter:
  uses-material-design: true
  assets:
    - assets/
