name: Build APK Release

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Instalar Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.22.2'
          channel: 'stable'

      - name: Baixar dependências
        run: flutter pub get

      - name: Compilar APK Release
        run: flutter build apk --release

      - name: Publicar APK
        uses: actions/upload-artifact@v4
        with:
          name: planalto-automacao-release
          path: build/app/outputs/flutter-apk/app-release.apk
